$mint: #00D4EA;
$green: #09E27C;
$white: #FFFFFF;
$gray06: #060606;
$gray1e: #1E2530;
$gray55: #555D67;
$gray83: #838A93;
$graya5: #A5ACB8;
$grayd6: #D6D9E1;
$grayf4: #F4F5FB;
$graye5: #E5E8F0;
$orange: #FF6A13;
$red: #ff3d45;

